/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/mag Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

process.executor = 'k8s'
process.scratch = true
process.pod.nodeSelector = 'usedby=simon_test'
k8s.pod.nodeSelector = 'usedby=simon_test'
k8s {
    debug {
       yaml = true
    }
   namespace = 'bossesim'
   context = 'bossesim'
   runAsUser = 0
   storageClaimName = 'simon-pvc'
   storageMountPath = '/work'
   fetchNodeName = true
}

process {
    stageInMode = 'copy'
    withName: 'NFCORE_MAG:MAG:SPADES' {
        ext.args = '--phred-offset 33'
        cpus = 16
        memory = '100.GB'
    }
    withName: 'NFCORE_MAG:MAG:BOWTIE2_PHIX_REMOVAL_BUILD' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:FASTP' {
        cpus = 8
        memory = '20.GB'
    }
    withName: 'NFCORE_MAG:MAG:KRONA_DB' {
        cpus = 1
        memory = '3072.MB'
    }
    withName: 'NFCORE_MAG:MAG:FASTQC_RAW' {
        cpus = 8
        memory = '20.GB'
    }
    withName: 'NFCORE_MAG:MAG:FASTQC_TRIMMED' {
        cpus = 8
        memory = '20.GB'
    }
    withName: 'NFCORE_MAG:MAG:CENTRIFUGE_DB_PREPARATION' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:KRAKEN2_DB_PREPARATION' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:BOWTIE2_HOST_REMOVAL_BUILD' {
        cpus = 16
        memory = '10240.MB'
    }
    withName: 'NFCORE_MAG:MAG:BOWTIE2_HOST_REMOVAL_ALIGN' {
        cpus = 16
        memory = '20.GB'
    }
    withName: 'NFCORE_MAG:MAG:BOWTIE2_PHIX_REMOVAL_ALIGN' {
        cpus = 7
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:KRAKEN2' {
        cpus = 8
        memory = '100.GB'
    }
    withName: 'NFCORE_MAG:MAG:KRONA' {
        cpus = 1
        memory = '2701.MB'
    }
    withName: 'NFCORE_MAG:MAG:CENTRIFUGE' {
        cpus = 4
        memory = '7783.MB'
    }
    withName: 'NFCORE_MAG:MAG:BINNING_PREPARATION:BOWTIE2_ASSEMBLY_BUILD' {
        cpus = 8
        memory = '10.GB'
    }
    withName: 'NFCORE_MAG:MAG:QUAST' {
        cpus = 2
        memory = '3072.MB'
    }
    withName: 'NFCORE_MAG:MAG:BINNING_PREPARATION:BOWTIE2_ASSEMBLY_ALIGN' {
        cpus = 16
        memory = '30.GB'
    }
    withName: 'NFCORE_MAG:MAG:PRODIGAL' {
        cpus = 1
        memory = '1536.MB'
    }
    withName: 'NFCORE_MAG:MAG:MEGAHIT' {
        cpus = 16
        memory = '100.GB'
    }
    withName: 'NFCORE_MAG:MAG:BINNING:METABAT2_JGISUMMARIZEBAMCONTIGDEPTHS' {
        cpus = 3
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:BINNING:CONVERT_DEPTHS' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:BINNING:METABAT2_METABAT2' {
        cpus = 4
        memory = '4608.MB'
    }
    withName: 'NFCORE_MAG:MAG:BINNING:GUNZIP_BINS' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:BINNING:SPLIT_FASTA' {
        cpus = 2
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:BINNING:MAXBIN2' {
        cpus = 1
        memory = '1210.MB'
    }
    withName: 'NFCORE_MAG:MAG:BINNING:ADJUST_MAXBIN2_EXT' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:QUAST_BINS' {
        cpus = 2
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:BINNING:MAG_DEPTHS' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:PROKKA' {
        cpus = 2
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:BUSCO_QC:BUSCO' {
        cpus = 5
        memory = '23552.MB'
    }
    withName: 'NFCORE_MAG:MAG:BINNING:MAG_DEPTHS_PLOT' {
        cpus = 3
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:BINNING:MAG_DEPTHS_SUMMARY' {
        cpus = 2
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:QUAST_BINS_SUMMARY' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:CUSTOM_DUMPSOFTWAREVERSIONS' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:BUSCO_QC:BUSCO_PLOT' {
        cpus = 4
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:BUSCO_QC:BUSCO_SUMMARY' {
        cpus = 3
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:BIN_SUMMARY' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_MAG:MAG:MULTIQC' {
        cpus = 2
        memory = '1024.MB'
    }

}

// Global default params, used in configs
params {
    // Input options
    input                                = null
    host_fasta                          = '/work/simon/data_mag/homosapiens.fa'
    kraken2_db                           = '/work/simon/bacteria/bacteria'
    cat_db                               = null
    gtdb                                 = false
    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                           = '128.GB'
    max_cpus                             = 16
    max_time                             = '240.h'
    busco_db = "https://busco-data.ezlab.org/v5/data/lineages/actinobacteria_class_odb10.2024-01-08.tar.gz"
    postbinning_input = 'raw_bins_only'
    refine_bins_dastool = false
    bin_domain_classification = false
    skip_maxbin2 = true
    skip_metabat2 = false
    skip_concoct = true
    skip_clipping = false
    clip_tool = 'fastp'
    assembly_input = null
    fastp_save_trimmed_fail = false
    keep_phix = true
    skip_binning = false
    single_end = false
    skip_spadeshybrid = false
    spades_fix_cpus = 16
    spadeshybrid_fix_cpus = 16
    skip_megahit = true
    ancient_dna = false
}

profiles {
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    naf {includeConfig 'conf/naf.config'}
}

docker.registry      = 'quay.io'
podman.registry      = 'quay.io'

// Nextflow plugins
plugins {
    id 'nf-validation@1.1.3' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
    fields  = 'task_id, hostname, hash, native_id, process, tag, name, status, exit, module, container, cpus, time, disk, memory, attempt, submit, start, complete, duration, realtime, queue, %cpu, %mem, rss, vmem, peak_rss, peak_vmem, rchar, wchar, syscr, syscw, read_bytes, write_bytes, vol_ctxt, inv_ctxt, env, workdir, scratch, error_action'
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'nf-core/mag'
    author          = """Hadrien Gourlé, Daniel Straub, Sabrina Krakau, James A. Fellows Yates, Maxime Borry"""
    homePage        = 'https://github.com/nf-core/mag'
    description     = """Assembly, binning and annotation of metagenomes"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '3.0.3'
    doi             = '10.1093/nargab/lqac007'
}

